# Binarios
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos de prueba
*.test

# Output de cobertura de código
*.out

# Dependencias
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Sistema operativo
.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
